<div class="deck-builder container-fluid">
<div ng-app="DeckBuilderModule">
      <div ng-controller="DeckBuilderController">
        <ng-view>
            <!-- should be able to get views here -->
          </ng-view>
      </div>
</div>
