<div class="row">
<div class="col-md-5 col-md-offset-1">
  <div class="player-bio">
    <div class="player-portrait">
      <img class="player-image" src="/images/durable-card.png" alt="Durable"/>
    </div>
    <div class="player-role">Professional Player, Coach and Troll.</div>
    <div class="player-social-icons">
      <i class="fa fa-facebook-square"></i>
      <i class="fa fa-twitter-square"></i>
      <i class="fa fa-twitch"></i>
      <i class="fa fa-youtube-play"></i>
    </div>
    <div class="player-short-bio">Durable likes to play hearthstone this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long</div>
  </div>
</div>
<div class="col-md-5">
  <div class="player-bio">
    <div class="player-portrait">
      <img class="player-image" src="/images/hermies-card.png" alt="Hermies"/>
    </div>
    <div class="player-role">Professional Player, Coach and Troll.</div>
    <div class="player-social-icons">
      <i class="fa fa-facebook-square"></i>
      <i class="fa fa-twitter-square"></i>
      <i class="fa fa-twitch"></i>
      <i class="fa fa-youtube-play"></i>
    </div>
    <div class="player-short-bio">Durable likes to play hearthstone this is will actually be about 50 words long  this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long</div>
  </div>
</div>
</div>
<div class="row">
<div class="col-md-5 col-md-offset-1">
  <div class="player-bio">
    <div class="player-portrait">
      <img class="player-image" src="/images/hbthegreat-card.png" alt="Hbthegreat"/>
    </div>
    <div class="player-role">Professional Player, Coach and Troll.</div>
    <div class="player-social-icons">
      <i class="fa fa-facebook-square"></i>
      <i class="fa fa-twitter-square"></i>
      <i class="fa fa-twitch"></i>
      <i class="fa fa-youtube-play"></i>
    </div>
    <div class="player-short-bio">Durable likes to play hearthstone this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long
</div>
  </div>
</div>
<div class="col-md-5">
  <div class="player-bio">
    <div class="player-portrait">
      <img class="player-image" src="/images/twizz-card.png" alt="Twizz"/>
    </div>
    <div class="player-role">Professional Player, Coach and Troll.</div>
    <div class="player-social-icons">
      <i class="fa fa-facebook-square"></i>
      <i class="fa fa-twitter-square"></i>
      <i class="fa fa-twitch"></i>
      <i class="fa fa-youtube-play"></i>
    </div>
    <div class="player-short-bio">Durable likes to play hearthstone this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long this is will actually be about 50 words long
</div>
  </div>
</div>
</div>
