.mana-cost{
  .hexagon {
    position: relative;
    width: 50px;
    height: 28.87px;
    background-color: none;
    margin: 14.43px 0;
    box-shadow: 0 0 20px rgba(183,183,183,0.65);
    border-left: solid 3px #7c7a7a;
    border-right: solid 3px #7c7a7a;
    margin-bottom: 35px;
    &.active
    {
      background-color: #2e69b9;
      border-left: solid 3px #FFFFFF;
      border-right: solid 3px #FFFFFF;
      span {
        color: #FFFFFF;
      }
      &:before {
        border-top: solid 4.2426px #FFFFFF;
        border-right: solid 4.2426px #FFFFFF;
      }
      &:after {
        border-bottom: solid 4.2426px #FFFFFF;
        border-left: solid 4.2426px #FFFFFF;
      }
    }
    &:before,&:after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 35.36px;
      height: 35.36px;
      -webkit-transform: scaleY(0.5774) rotate(-45deg);
      -ms-transform: scaleY(0.5774) rotate(-45deg);
      transform: scaleY(0.5774) rotate(-45deg);
      background-color: inherit;
      left: 4.3223px;
      box-shadow: 0 0 20px rgba(183,183,183,0.65);
    }
    &:before {
      top: -17.6777px;
      border-top: solid 4.2426px #7c7a7a;
      border-right: solid 4.2426px #7c7a7a;
    }
    &:after {
      bottom: -17.6777px;
      border-bottom: solid 4.2426px #7c7a7a;
      border-left: solid 4.2426px #7c7a7a;

    }
    span {
      display: block;
      position: absolute;
      top:1.7320508075688772px;
      left: 0;
      width:44px;
      height:25.4034px;
      z-index: 2;
      background: inherit;
      text-align: center;
      line-height: 28px;
      color: #7c7a7a;
    }
  }
}


.mana-curve{
  .mana-bars{
    display: block;
    width: 90%;
    padding: 0;
    margin: 9px auto;
    li {
      float: left;
      list-style: none;
      width: 12.5%
    }
    .mana-card-amount{
      width: 100%;
      margin-bottom:5px;
      text-align: center;
    }
    .mana-curve-bar{
      text-align: center;
      position: relative;
      width: 50%;
      margin: 0 auto;
      height: 100px;
      background-color: white;
      span {
        position: absolute;
        left: 0;
        right: 0;
        bottom:0;
        transition: height .5s;
        background-color: blue;
      }
    }
    .mana-curve-number{
      text-align: center;
    }
  }
}
