<h1>Druid</h1>

<div class="col-md-9">
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      <button type="button" class="btn btn-default" ng-class="{active: filters.classNeutral ==='class'}" ng-click="filterByClassNeutral('class')">Druid</button>
      <button type="button" class="btn btn-default" ng-class="{active: filters.classNeutral ==='neutral'}" ng-click="filterByClassNeutral('neutral')">Neutral</button>
    </div>
    <div class="col-md-7">
    <ui-select multiple ng-model="filters.selectedMechanics" theme="select2" style="width: 300px;">
      <ui-select-match placeholder="Select mechanics...">{{$item}}</ui-select-match>
      <ui-select-choices repeat="mechanic in availableMechanics | filter:$select.search">
        {{mechanic}}
      </ui-select-choices>
    </ui-select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="mana-cost">
        <a href="#" ng-click="filterByMana('all')" onclick="return false;"><div class="hexagon" ng-class="{active: filters.mana ==='all'}"><span>All</span></div></a>
        <a href="#" ng-click="filterByMana(0)" onclick="return false;"><div class="hexagon" ng-class="{active: filters.mana === 0}"><span>0</span></div></a>
        <a href="#" ng-click="filterByMana(1)" onclick="return false;"><div class="hexagon" ng-class="{active: filters.mana === 1}"><span>1</span></div></a>
        <a href="#" ng-click="filterByMana(2)" onclick="return false;"><div class="hexagon" ng-class="{active: filters.mana === 2}"><span>2</span></div></a>
        <a href="#" ng-click="filterByMana(3)" onclick="return false;"><div class="hexagon" ng-class="{active: filters.mana === 3}"><span>3</span></div></a>
        <a href="#" ng-click="filterByMana(4)" onclick="return false;"><div class="hexagon" ng-class="{active: filters.mana === 4}"><span>4</span></div></a>
        <a href="#" ng-click="filterByMana(5)" onclick="return false;"><div class="hexagon" ng-class="{active: filters.mana === 5}"><span>5</span></div></a>
        <a href="#" ng-click="filterByMana(6)" onclick="return false;"><div class="hexagon" ng-class="{active: filters.mana === 6}"><span>6</span></div></a>
        <a href="#" ng-click="filterByMana('7+')" onclick="return false;"><div class="hexagon" ng-class="{active: filters.mana ==='7+'}"><span>7+</span></div></a>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-3">
          <img class="img-responsive" src="/images/the-grand-tournament/druid/spell/common/living-roots-gold.gif" />
        </div>
        <div class="col-md-3">
          <img class="img-responsive" src="/images/the-grand-tournament/druid/spell/common/living-roots-gold.gif" />
        </div>
        <div class="col-md-3">
          <img class="img-responsive" src="/images/the-grand-tournament/druid/spell/common/living-roots-gold.gif" />
        </div>
        <div class="col-md-3">
          <img class="img-responsive" src="/images/the-grand-tournament/druid/spell/common/living-roots-gold.gif" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img class="img-responsive" src="/images/the-grand-tournament/druid/spell/common/living-roots-gold.gif" />
        </div>
        <div class="col-md-3">
          <img class="img-responsive" src="/images/the-grand-tournament/druid/spell/common/living-roots-gold.gif" />
        </div>
        <div class="col-md-3">
          <img class="img-responsive" src="/images/the-grand-tournament/druid/spell/common/living-roots-gold.gif" />
        </div>
        <div class="col-md-3">
          <img class="img-responsive" src="/images/the-grand-tournament/druid/spell/common/living-roots-gold.gif" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="return false;">
            Mana Curve
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <div class="mana-curve">
            <ul class="mana-bars clearfix">
              <li>
                  <div class="mana-card-amount">
                      0
                  </div>
                  <div class="mana-curve-bar">
                      <span style="height: 59px"></span>
                  </div>
                  <div class="mana-curve-number">
                      0
                  </div>
              </li>
              <li>
                  <div class="mana-card-amount">
                      0
                  </div>
                  <div class="mana-curve-bar">
                      <span style="height: 30px"></span>
                  </div>
                  <div class="mana-curve-number">
                      1
                  </div>
              </li>
              <li>
                  <div class="mana-card-amount">
                      0
                  </div>
                  <div class="mana-curve-bar">
                      <span style="height: 27px"></span>
                  </div>
                  <div class="mana-curve-number">
                      2
                  </div>
              </li>
              <li>
                  <div class="mana-card-amount">
                      0
                  </div>
                  <div class="mana-curve-bar">
                      <span style="height: 0px"></span>
                  </div>
                  <div class="mana-curve-number">
                      3
                  </div>
              </li>
              <li>
                  <div class="mana-card-amount">
                      0
                  </div>
                  <div class="mana-curve-bar">
                      <span style="height: 11px"></span>
                  </div>
                  <div class="mana-curve-number">
                      4
                  </div>
              </li>
              <li>
                  <div class="mana-card-amount">
                      0
                  </div>
                  <div class="mana-curve-bar">
                      <span style="height: 25px"></span>
                  </div>
                  <div class="mana-curve-number">
                      5
                  </div>
              </li>
              <li>
                  <div class="mana-card-amount">
                      0
                  </div>
                  <div class="mana-curve-bar">
                      <span style="height: 50px"></span>
                  </div>
                  <div class="mana-curve-number">
                      6
                  </div>
              </li>
              <li>
                  <div class="mana-card-amount">
                      0
                  </div>
                  <div class="mana-curve-bar">
                      <span style="height: 15px"></span>
                  </div>
                  <div class="mana-curve-number">
                      7+
                  </div>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick="return false;">
            Deck
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          decks stuff here
        </div>
      </div>
    </div>
  </div>
</div>
