<h1>Druid</h1>

<div class="col-md-8">
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      <button type="button" class="btn btn-default active">Druid</button>
      <button type="button" class="btn btn-default">Neutral</button>
    </div>
    <div class="col-md-7">
      there will be many filters here blah blah b lah blah blah b lah blah blah b lah blah blah b lah blah blah b lah blah blah b lah
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="mana-cost">
        <div class="hexagon"><span>1</span></div>
        <div class="hexagon"><span>2</span></div>
        <div class="hexagon"><span>3</span></div>
        <div class="hexagon"><span>4</span></div>
        <div class="hexagon"><span>5</span></div>
        <div class="hexagon"><span>6</span></div>
        <div class="hexagon"><span>7+</span></div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="return false;">
            Mana Curve
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <div class="mana-curve">
            <div class="mana-value">0</div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
            <div class="mana-value">1</div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                <span class="sr-only">10% Complete</span>
              </div>
            </div>
            <div class="mana-value">2</div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                <span class="sr-only">40% Complete</span>
              </div>
            </div>
            <div class="mana-value">3</div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                <span class="sr-only">90% Complete</span>
              </div>
            </div>
            <div class="mana-value">4</div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100" style="width: 12%;">
                <span class="sr-only">12% Complete</span>
              </div>
            </div>
            <div class="mana-value">5</div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100" style="width: 18%;">
                <span class="sr-only">18% Complete</span>
              </div>
            </div>
            <div class="mana-value">6</div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
            <div class="mana-value seven-plus">7+</div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick="return false;">
            Deck
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          decks stuff here
        </div>
      </div>
    </div>
  </div>
</div>
