<h1>Welcome to the Deck Builder. May the creations be with you!</h1>
<h2>Choose your class below</h2>
<div class="row">
  <div class="col-md-4"><a href="#druid">Druid</a></div>
  <div class="col-md-4"><a href="#hunter">Hunter</a></div>
  <div class="col-md-4"><a href="#mage">Mage</a></div>
</div>
<div class="row">
  <div class="col-md-4"><a href="#paladin">Paladin</a></div>
  <div class="col-md-4"><a href="#priest">Priest</a></div>
  <div class="col-md-4"><a href="#rogue">Rogue</a></div>
</div>
<div class="row">
  <div class="col-md-4"><a href="#shaman">Shaman</a></div>
  <div class="col-md-4"><a href="#warlock">Warlock</a></div>
  <div class="col-md-4"><a href="#warrior">Warrior</a></div>
</div>
</div>
